.input-field {
    width: 100%;
    height:50px ;
    border-radius: 5px;
    background-color:hsl(224, 36%, 15%) ;
    outline: none;
    border: none;
    margin-bottom: 15px;
}


.calculator-keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    border-radius: 5px;
    padding: 20px;
    height: 35vh;
    background-color: hsl(223, 31%, 20%);
  }
  
  .calculator-keypad button {
    grid-column: span 1;
  }
  .delete {
    background-color: rgb(161, 103, 214);
    color: white;
  }
  
  .calculator-keypad button.calculate {
    grid-column: span 2;
    background-color: hsl(6, 63%, 50%);
    width: 100%;
    color: white;
  }
  
  .calculator-keypad button.reset {
    grid-column: span 2;
    background-color: rgb(161, 103, 214);
    width: 100%;
    color: white;
    font-weight:bold;
    font-size: 25px;
  }
  
button  {
    outline: none;
    border: none;
    background-color: hsl(0, 0%, 100%);
    color: hsl(221, 14%, 31%);
    font-weight: 700;
    font-size: 28px;
    border-radius: 5px; 
    width: 80px;
    box-shadow: 4px 4px 4px hsl(220, 21%, 8%);
}